html{
    position: relative;
    min-height: 100%;
}

.heightTest{height:40px;}
body {
    background-color: #FAF9FB;
    font-size: 16px;
    padding-top: 65px;
}
body{
    margin-top: 0px;
    margin-bottom: 0px;
}
.container-fluid {
    padding: 0px 0 0 0;
}
.container {
    padding: 0px 0 0 0;
}
.menuButton {
    background-color: black;
    color: chartreuse;
    font-weight: bold;
}
.padded {
    padding-top: 0px
}
.panel-body {
    overflow: scroll;
    height: 100px;
}
.currentSongButton {
    background-color:chartreuse;
}
.notCurrentSongButton {
    background-color: hsl(64, 82%, 73%);
}
.setButton {
    width: 100%;
}
.currentSetButton {
    font-size:1em;
    color:black;
    font-weight: bold;
    background-color:rgb(255, 0, 128);
}
.notCurrentSetButton {
    font-size:1em;
    color:black;
    font-weight: bold;
    background-color:#00ffea;
}
.buttonText {
    width: 100%;
    font-size:0.8em;
}
.smallText {
    font-size:0.8em;
}
.boldText {
    font-weight: bold;
}
.blackLine {
    color: black !important;
}
.tdMargin {
    margin-right: 2px;
    margin-left: 2px;
}
.tdMargin4 {
    padding-right: 1em;
    padding-left: 1em;
}
.tdMargin4Bold {
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
}
.actionButton {
    font-size:1.2em;
    background-color:chartreuse;
}
.okBlueButton {
    font-size:1.2em;
    background-color: #67B1BD;
}
.okBlueButtonSmall {
    font-size:1em;
    background-color: #67B1BD;
    margin-left: 2vw;
}
.fullSize {
    width: 100%;
    margin: 2px 2px 2px 2px;
}
.halfSize {
    width: 45%;
    margin: 2px 2px 2px 2px;
}
.songButton {
    color:black;
    font-weight: bold;
    width: 100%;
    font-size:0.8em;
}
.deleteButton{
    width: 100%;
    font-size:0.95em;
    color:red;
    background-color:#67B1BD;
}
.deleteButton2{
    font-size:1.2em;
    color:red;
    background-color:#67B1BD;
}
.playButtonBack{
    font-size:1.5em;
    background-color:black;
    color:white;
}
.playButtonRight{
    font-size:1.5em;
    width: 25%;
    background-color:chartreuse;
    float: right;
}
.editButton{
    font-size:1.2em;
    background-color:khaki;
}
.backButton{
    font-size:1.2em;
    background-color:black;
    color:white;
}
.editButtonRight{
    font-size:1.2em;
    background-color:khaki;
    float: right;
}
.floatRight{
    float: right;
}

.navbar {
    margin-bottom: 0px;
}
.container .navbar-header {
    margin-right: 0;
    margin-left: 0;
    background-color:black;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #10f808;
    padding-top: 5px;
}
.banner {
    color: chartreuse;
    width:100%;
    background-color: black;
}
.chartreusebar {
    background-color: chartreuse;
    color: black !important;
    border: 2px solid #f8f6f6; 
}
.greenbar {
    background-color: rgb(0, 138, 0);
    color: white !important;
    border: 2px solid #f8f6f6; 
}
.bluebar {
    background-color: #67B1BD;
    color: white !important;
    border: 2px solid #f8f6f6; 
}
.redbar {
    background-color: rgb(255, 0, 0);
    color: white !important;
    border: 2px solid #f8f6f6; 
}
.yellowbar {
    background-color: lightyellow;
    color: black !important;
    border: 2px solid black; 
}
@media screen and (max-width: 600px) {
    .mobileLogin {
      display: none;
    }
  }

 td > a {
    color: white;
}

td,th {
    text-align: left;
}

  .table-a,
  .table-b,
  .table-c,
  .table-calendar thead {
    display: block;
  }
  .table-a tbody{
    background-color: hsl(64, 82%, 83%);
    font-size: 15px;
    height: 33vh;
    overflow-y: scroll;
    display: block;
  }
  .table-b tbody{
    background-color: #b0f2f7;
    font-size: 15px;
    height: 38vh;
    overflow-y: scroll;
    display: block;
   }
    .table-c tbody{
    background-color: #67B1BD;
    font-size: 24px;
    height: auto;
    width: 100%;
    overflow-y: scroll;
    display: block;
   }
   .table-d tbody{
    background-color: #b0f2f7a9;
    font-size: 16px;
    height: auto;
    overflow-y: scroll;
    display: block;
   }
   .calendar-padding{
    padding-top: 102px;
   }
   .calendar-padding2{
    padding-top: 24px;
   }
   .table-calendar tbody{
    background-color: #67B1BD;
    font-size: 12px;
    height: auto;
    width: 100%;
    overflow-y: scroll;
   }    
   .table-calendar > tbody > th{
    width: 100%;
    display: inline-block;
    background-color: chartreuse;
    position: fixed;
   } 
   .table-calendar > tbody > tr{
    width: 100%;
    display: inline-block;
    background-color: chartreuse;
   } 
   .table-calendar > tbody > tr > td{
    width: 13%;
    display: inline-block;
    background-color: chartreuse;
   }

   .table-profile tbody{
    background-color: #67B1BD;
    font-size: 16px;
    height: auto;
    width: 100%;
    overflow-y: scroll;
   }    
   .table-profile > tbody > tr{
    width: 100%;
    display: inline-block;
    background-color: chartreuse;
   } 
   .table-profile > tbody > tr > td{
    width: 22%;
    display: inline-block;
    background-color: chartreuse;
   }


   .redevent {
    background-color: rgb(255, 0, 0) !important;
    color: white !important;
    }
   .yellowevent {
    background-color: yellow !important;
    color: black !important;
    }
   .greenevent {
    background-color: green !important;
    color: white !important;
    }
   .table-calendar-input  {
    width: 100%;
    display: inline-block;
    position: fixed;
    background-color: chartreuse;
   } 
   .table-calendar-header  {
    width: 100%;
    display: inline-block;
    position: fixed;
    background-color: chartreuse;
   } 
   .table-calendar-header > tbody > tr{
    width: 100%;
    display: inline-block;
    background-color: chartreuse;
   } 
   .table-calendar-header > tbody > tr > td{
    width: 12vw;
    display: inline-block;
    background-color: chartreuse;
   }
   .table-header tbody{
    background-color: #67B1BD;
    font-size: 12px;
    width: 100%;
   }    
   .table-header > tbody > tr{
    width: 100%;
    display: inline-block;
    background-color: chartreuse;
   } 
   .table-header > tbody > tr > td{
    width: 30%;
    display: inline-block;
    background-color: chartreuse;
   }
